

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
  border-radius: 0px !important;
}

#btn-start-mine {
  background-color: #fff;
  color: #817ca5;
  margin-top: 50px;
  width: 100%;
  font-size: 30px;
  border: none;
}
.error {
  color: red;
}

#btn-start-mine:hover {
  /* background-color: #dad3d3; */
  background-color: #817ca5;
  color: white;
  border: solid 1px white;
}
#btn-start-mine:disabled {
  border: none;
}

